<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Update present</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="update-present-container">
            <form action="/update-present" method="post">
                <div>
                    <label>Present Name:</label>
                    <input
                        type="text"
                        name="presentName"
                        value="<%= dataPresent.presentName %>"
                    />
                </div>
                <div>
                    <label>Present Type:</label>
                    <input
                        type="text"
                        name="presentType"
                        value="<%= dataPresent.presentType %>"
                    />
                </div>
                <input type="text" value="<%= dataPresent.id   %>" hidden name="id" />
                <div>
                    <button type="submit" class="btn-save">Save</button>
                </div>
            </form>
        </div>
    </body>
</html>
